
/* DM sans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* SST Arabic */
@font-face {
  font-family: "SST Arabic";
  src: url("/fonts/SST-Arabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SST Arabic";
  src: url("/fonts/SST-Arabic-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SST Arabic";
  src: url("/fonts/SST-Arabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SST Arabic";
  src: url("/fonts/SST-Arabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
  .direction-rtl {
    direction: rtl;
  }
}

/* toot */
:root {
  /* fonts */
  --font-sst-arabic: "SST Arabic";

  /* colors */
  --color-primary: #e55604;
  --color-secondary: #26577c;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
input:focus,
select,
select:focus {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
